{% extends "layout.html" %}
       
      
 {% block body%}  
   
      
        <div class="container-fluid">
            <div class="body advert">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">广告管理</a></li>
                    <li class="active">广告列表</li>
                </ol>
                <div class="page-title">
                    <a href="/advert/add" class="btn btn-success btn-sm pull-right">添加广告</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-inline">
                            <select name="" class="form-control input-sm">
                                <option value="">按年龄</option>
                            </select>
                            <select name="" class="form-control input-sm">
                                <option value="">按性别</option>
                            </select>
                            <select name="" class="form-control input-sm">
                                <option value="">按地区</option>
                            </select>
                            <select name="" class="form-control input-sm">
                                <option value="">按日期</option>
                            </select>
                            <button class="btn btn-success btn-sm">筛选</button>
                        </form>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <th>标题</th>
                                <th>图片</th>
                                <th>链接</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>

                <div>                 
                    <tbody id="rendertbody">
                    
                    </tbody>
                </table>


                </div>
                       
                </div>
                <!-- 分页 -->
                <ul class="pagination pull-right" id="pagination">
               
                </ul>
            </div>
        </div>    
 </div>
 <script type="text/html" id="ABC">
 <% adverts.forEach(function (value,index){ %>
        
  <tr>
   <td> <%= index+1 %> </td>
   <td> <%= value.title %> </td>
   <td> <img src="/public/uploads/<%= value.image %>" style="width: 100px;height: 100px;"></td>
   <td> <%= value.link %> </td>
   <td> <%= value.start_time %> </td>
   <td> <%= value.end_time %> </td>
   <td>
       <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
       <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
   </td>
</tr>  


 <% }) %>
    
</script>





 {% endblock %}

 {% block script %}
  <script src="/node_modules/art-template/dist/template-native.js"></script>
  <script src="/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>
  <script>
    var pageSize = 6
    // $("#rendertbody").html = template("art-temlate",adverts)
    console.log(2)
    $.ajax({
      url: "/advert/page",
      type: "get",
      success: function(data){
     if(data.err_code === 0) {
       
        $('#pagination').twbsPagination({
        totalPages: Math.ceil(data.totalPage / pageSize),
        visiblePages: 7,
        onPageClick: function (event, page) {
        	// console.log(page)
            $.ajax({
                 url: "/advert/pagemodul",
                 type: "get",
                 data: {
                 	pageSize,
                 	page
                 },
                 dataType: "json",
                 success: function(data){
                 	console.log(data.adverts)
                  var  shtml = template("ABC",{
                    	adverts:data.adverts
                    })
                    
                   $("#rendertbody").html(shtml) 
              
                 }



            })
            
        }
    })
         }
          


      }
  

  })
  
  </script>
 {% endblock %}